[*]
indent_style = tab
tab_width = 4

[*.md]
indent_style = space
tab_width = 2

[*.{yml,yaml}]
indent_style = space
tab_width = 2

[{*.rb,*.gemspec,Rakefile,Gemfile,Gemfile.lock}]
indent_style = space
tab_width = 2

[*.js]
indent_style = space
tab_width = 2
