/.Makefile.tags
/.bundle
/.log-courier
/.vagrant
/*.gem
/Gemfile.lock
/bin
/log-courier.gemspec
/logstash-input-courier.gemspec
/logstash-output-courier.gemspec
/node_modules
/pkg
/spec/tmp
/src/github.com
/src/gopkg.in
/src/lc-lib/core/version.go
/vendor
/version.txt
