Gem::Specification.new do |gem|
  gem.name              = 'logstash-input-courier'
  gem.version           = '<VERSION>'
  gem.description       = 'Log Courier Input Logstash Plugin'
  gem.summary           = 'Receive events from Log Courier and Logstash using the Log Courier protocol'
  gem.homepage          = 'https://github.com/driskell/log-courier'
  gem.authors           = ['Jason Woods']
  gem.email             = ['devel@jasonwoods.me.uk']
  gem.licenses          = ['Apache']
  gem.rubyforge_project = 'nowarning'
  gem.require_paths     = ['lib']
  gem.files             = %w(
    lib/logstash/inputs/courier.rb
  )

  gem.metadata = { 'logstash_plugin' => 'true', 'logstash_group' => 'input' }

  gem.add_runtime_dependency 'cabin', '~> 0.6'
  gem.add_runtime_dependency 'logstash-core', '~> 1.4'
  gem.add_runtime_dependency 'log-courier', '= <VERSION>'
end
