Source: log-courier
Section: contrib/admin
Priority: optional
Standards-Version: 4.5.0
Maintainer: Jason Woods (Driskell) <devel@jasonwoods.me.uk>
Build-Depends: debhelper (>= 9.20131227), golang-1.5, git

Package: log-courier
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Log Courier
 Log Courier is a lightweight tool created to ship log files speedily and
 securely, with low resource usage, to remote Logstash instances.
