[Unit]
Description=Log Courier, a lightweight log shipper with Logstash integration.
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=/etc/default/log-courier
ExecStartPre=/usr/sbin/log-courier -config-test=true -config=${LOG_COURIER_ARGS}
ExecStart=/usr/sbin/log-courier -config=${LOG_COURIER_ARGS}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
StandardError=syslog

[Install]
WantedBy=multi-user.target
