Source: log-carver
Section: contrib/admin
Priority: optional
Standards-Version: 3.9.5
Maintainer: Jason Woods <packages@jasonwoods.me.uk>
# Highest compat level supported is as follows:
#  xenial = 9
#  bionic = 11
#  focal = 12
#  jammy = 13
#  noble = 13
#  oracular = 13
# dpkg-dev is 1.18 in xenial
Build-Depends:
 debhelper (>= 10),
 dh-systemd,
 dpkg-dev (>= 1.18)

Package: log-carver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lc-admin, lc-tlscert
Description: Log Carver is a lightweight tool created to process events from Log Courier speedily and securely, with low resource usage.
