#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

override_dh_auto_clean:
	# Nothing to do

override_dh_auto_build:
	# We pre-compiled through cross-compilation already in the source, so just switch to the correct pre-compiled bin
	# This is so we could use latest Go to compile
	# Although we can get 1.15 on focal we cannot get anything near it on trusty (oldest supported release)
	# Thus, until that is EOL (or someone reports this as broken), this is the best way to compile
	mv "bin-${DEB_HOST_ARCH}" bin

override_dh_auto_test:
	VERSION=$$(bin/lc-admin --version); \
	VERSION=$${VERSION#Admin version }; \
	echo "$$VERSION"; \
	if [ ! -f .skip-version-check ] && [ "$$VERSION" != "${DEB_VERSION_UPSTREAM}" ]; then \
		exit 1; \
	fi

override_dh_auto_install:
	# Install binary
	mkdir -p debian/lc-admin/usr/bin
	install -m 0755 bin/lc-admin debian/lc-admin/usr/bin/lc-admin

	# Install copyright and docs
	mkdir -p debian/lc-admin/usr/share/doc/lc-admin
	install -m 0644 debian/copyright debian/lc-admin/usr/share/doc/lc-admin/copyright
	cp -av docs/AdministrationUtility.md debian/lc-admin/usr/share/doc/lc-admin/
