Source: log-courier
Section: contrib/admin
Priority: optional
Standards-Version: 3.9.5
Maintainer: Jason Woods <packages@jasonwoods.me.uk>
# Highest compat level supported is as follows:
#  jammy = 13
#  noble = 13
#  oracular = 13
# dpkg-dev is 1.21 in jammy
Build-Depends: debhelper (>= 13), dpkg-dev (>= 1.21)

Package: log-courier
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lc-admin, lc-tlscert
Description: Log Courier is a lightweight tool created to ship log files speedily and securely, with low resource usage, to remote Logstash or Log Carver instances.
