name: Golang

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
    - contrib
    - docs
    - 'lc-admin/**'
    - 'lc-lib/**'
    - 'lc-tlscert/**'
    - 'log-carver/**'
    - log-courier.go
    - go.mod
    - go.sum
  pull_request:
    branches: [ main ]
    paths:
    - contrib
    - docs
    - 'lc-admin/**'
    - 'lc-lib/**'
    - 'lc-tlscert/**'
    - 'log-carver/**'
    - log-courier.go
    - go.mod
    - go.sum

jobs:
  build:
    strategy:
      matrix:
        # Red Hat we compile inside COPR using the version of Golang for the target OS.
        # - RHEL9 = 1.22 (Appstream as of 2025-02-28)
        # Ubuntu we cross-compile in our builder image using Golang 1.24 (latest stable as of 2025-02-28).
        go: ['1.22', '1.24']
    name: Build Go ${{ matrix.go }}
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
      id: go
    - name: Checkout
      uses: actions/checkout@v3
    - name: Get dependencies
      run: go get -v -t -d ./...
    - name: Generate
      run: go generate -v ./...
    - name: Build
      run: go build -v ./...
    - name: Test
      run: go test -v ./...
